<!DOCTYPE html>

<html lang="en" ng-app="Chatbox">
	<link href="css/bootstrap.css" rel="stylesheet">

	<head>
		<script src = "js/angular.js"></script>
		<script src = "js/angular-resource.js"></script>
		<script src = "js/chatimplementation.js"></script>
	
	</head>
	<body>
		<div class="container" ng-controller="Chatbox">
			<div ng-show = "loggedin" class="row">
			<form class="form-inline" role="form">
			  <div class="form-group">
			    <label class="sr-only" for="exampleInputEmail2">Email address</label>
			    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
			  </div>
			  <div class="form-group">
			    <label class="sr-only" for="exampleInputPassword2">Password</label>
			    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
			  </div>
			  <div class="checkbox">
			    <label>
			      <input type="checkbox"> Remember me
			    </label>
			  </div>
			  <button type="submit" class="btn btn-default">Sign in</button>
			</form>
			</div>

			<div class="row" ng-show = "!loggedin">
				Hello {{User}}
			</div>

			<div class="row">
				 <div class="col-md-4"><h1>User List</h1><p ng-repeat="user in users"> {{user}}</p></div>
				 <div class="col-md-8"><h1>Messages</h1>
				 <div class ="pre-scrollable" >
				 	<div ng-repeat="user in users" class="alert alert-success">
					  <a href="#" class="alert-link">{{user}}: Hello!</a>
					</div>
					<div ng-repeat="user in users" class="alert alert-success">
					  <a href="#" class="alert-link">{{user}}: Hello!</a>
					</div>
				 </div>
				 </div>
  				
			</div>
			<div class="row">
				<h2>
					Send Message
				</h2>
				 <form accept-charset="UTF-8" action="http://localhost:1234/" method="POST">
                        <textarea class="form-control counted" name="message" placeholder="Type in your message" rows="5" style="margin-bottom:10px;"></textarea>
                       
                        <button class="btn btn-info pull-right" type="submit">Send Message</button>
                 </form>
			</div>
		</div>

	</body>
</html>